/* These are the defaults... */
:root {
	--primary: #36B598;
	--background: #F1F1F1;
	--surface: #FFFFFF;

	--brand: #36B598;

	--on-primary: #000;
	--on-surface: #000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
	--background: #1d1d1d;
	--surface: #585858;

	--on-surface: #FFF;
}

.theme-purple {
	--primary: #5e35b1;
	--on-primary: #FFF;
}